media/**/*.gif filter=lfs diff=lfs merge=lfs -text
media/**/*.jpg filter=lfs diff=lfs merge=lfs -text
media/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
media/**/*.ai filter=lfs diff=lfs merge=lfs -text
media/**/*.psd filter=lfs diff=lfs merge=lfs -text
media/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
media/**/*.ogg filter=lfs diff=lfs merge=lfs -text
media/**/*.docx filter=lfs diff=lfs merge=lfs -text
media/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
media/**/*.pptx filter=lfs diff=lfs merge=lfs -text
media/**/*.png filter=lfs diff=lfs merge=lfs -text
media/**/*.ico filter=lfs diff=lfs merge=lfs -text
media/**/*.icns filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.afpub filter=lfs diff=lfs merge=lfs -text
*.afdesign filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text