[package]
name = "mindwork-ai-studio"
version = "0.9.50"
edition = "2021"
description = "MindWork AI Studio"
authors = ["Thorsten Sommer"]

[build-dependencies]
tauri-build = { version = "1.5", features = [] }

[dependencies]
tauri = { version = "1.8", features = [ "http-all", "updater", "shell-sidecar", "shell-open", "dialog"] }
tauri-plugin-window-state = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
keyring = { version = "3.6.2", features = ["apple-native", "windows-native", "sync-secret-service"] }
arboard = "3.5.0"
tokio = { version = "1.45.1", features = ["rt", "rt-multi-thread", "macros", "process"] }
tokio-stream = "0.1.17"
futures = "0.3.31"
async-stream = "0.3.6"
flexi_logger = "0.31.1"
log = { version = "0.4.27", features = ["kv"] }
once_cell = "1.21.3"
rocket = { version = "0.5.1", features = ["json", "tls"] }
rand = "0.9.1"
rand_chacha = "0.9"
base64 = "0.22.1"
cipher = { version = "0.4.4", features = ["std"] }
aes = "0.8.4"
cbc = "0.1.2"
pbkdf2 = "0.12.2"
hmac = "0.12.1"
sha2 = "0.10.8"
rcgen = { version = "0.14.3", features = ["pem"] }
file-format = "0.28.0"
calamine = "0.30.0"
pdfium-render = "0.8.34"
sys-locale = "0.3.2"
cfg-if = "1.0.1"
pptx-to-md = "0.4.0"

# Fixes security vulnerability downstream, where the upstream is not fixed yet:
url = "2.5"
ring = "0.17.14"
crossbeam-channel = "0.5.15"

[target.'cfg(target_os = "linux")'.dependencies]
# See issue https://github.com/tauri-apps/tauri/issues/4470
reqwest = { version = "0.12.22", features = ["native-tls-vendored"] }

# Fixes security vulnerability downstream, where the upstream is not fixed yet:
openssl = "0.10.73"

[target.'cfg(target_os = "windows")'.dependencies]
windows-registry = "0.5.3"

[features]
custom-protocol = ["tauri/custom-protocol"]
