@using AIStudio.Tools.PluginSystem
@attribute [Route(Routes.PLUGINS)]

<div class="inner-scrolling-context">
    <MudText Typo="Typo.h3" Class="mb-12">
        Plugins
    </MudText>
    <PreviewExperimental/>
    
    <InnerScrolling>
        <MudList T="string">
            @foreach (var plugin in PluginFactory.AvailablePlugins)
            {
                <MudListItem>
                    <AvatarContent>
                        <MudAvatar Size="Size.Large" Class="align-content-stretch me-4">
                            <div class="plugin-icon-container">
                                @((MarkupString)plugin.IconSVG)
                            </div>
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>
                        <MudText Typo="Typo.h6">
                            @plugin.Name
                        </MudText>
                        <MudJustifiedText Typo="Typo.body1">
                            @plugin.Description
                        </MudJustifiedText>
                    </ChildContent>
                </MudListItem>
            }
        </MudList>
    </InnerScrolling>
</div>