@attribute [Route(Routes.WRITER)]
@inherits MSGComponentBase

<div class="inner-scrolling-context">
    <MudText Typo="Typo.h3" Class="mb-2">
        Writer
    </MudText>
    <PreviewExperimental ApplyInnerScrollingFix="true"/>

    <ProviderSelection @bind-ProviderSettings="@this.providerSettings"/>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" OnClick="@(() => this.LoadTextFile())" Color="Color.Primary" Class="mb-2">
        Load a text file
    </MudButton>
    <InnerScrolling>
        <ChildContent>
            @foreach (var chunk in this.chunks)
            {
                <MudJustifiedText Typo="Typo.body1" Class="ma-3 write-mode-chunk">
                    @chunk.Content
                </MudJustifiedText>
            }
        </ChildContent>
        <FooterContent>
            @if (this.isStreaming)
            {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="mb-6" />
            }
        </FooterContent>
    </InnerScrolling>
</div>