<div class="code-editor @this.Class" style="@this.CodeEditorThemeStyle">
    <div @ref="this.lineNumbersElement" class="code-editor-line-numbers" aria-hidden="true"></div>
    <div @ref="this.editorElement" class="code-editor-input"></div>
</div>
