@inherits MSGComponentBase

<div class="d-flex flex-column" style="@this.Height">
    <div class="flex-auto overflow-auto">
        @this.ChildContent
        
        <div @ref="@this.AnchorAfterChildContent">
            &nbsp;
        </div>
    </div>

    @if (this.FooterContent is not null)
    {
        <MudPaper Class="pa-3 border-solid border rounded-lg">
            @this.FooterContent
        </MudPaper>
    }
</div>