@inherits MSGComponentBase

<div class="d-flex flex-column" style="@this.Height">
    <div class="flex-auto overflow-auto">
        @this.ChildContent
        
        <div @ref="@this.AnchorAfterChildContent">
            &nbsp;
        </div>
    </div>
    
    @this.FooterContent
</div>